#mainContainer {
  padding-top: 15px;
  background-color: black;
  font-family: monospace;
  color: white;
  width: 100%;
}
#summaryBtn{
  border: 1px solid black;
  padding:6px 10px;
  border-radius:6px;
  margin-top: 18px;
}

.suggestions-dropDown {
  text-align: left;
  position: absolute;
  background: #000000c2;
  border: 0.01px solid;
  backdrop-filter: blur(2px);
  z-index: 99;
  max-height: 70vh;
  max-width: 68vw;
  width: 500px;
  overflow-y: scroll;
  border-top: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
  font-size: 20px;
}

.dropdown-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

#dropdown-label {
  position: absolute;
  font-size: 10px;
  z-index: 1;
  color: greenyellow;
  top: 0px;
}

.sort-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 6px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.bookmark-icon :hover {
  transform: translateY(-4px);
}

.bookmarked-icon {
  height: 50px;
}

.nav-button {
  position: absolute;
  top: 50px;
  right: 50px;
  background: #FFFFFF;
  color: #000000;
  font-weight: 900;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 20px;
}

.nav-button :hover {
  color: greenyellow;
}

.nav-button :active {
  transform: translateY(4px);
}

.clear-storage-btn {
  bottom: 85px;
  left: 50px;
  background: #FFFFFF;
  color: #000000;
  font-weight: 900;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  border: none;
}

.clear-storage-btn:hover {
  color: blue;
}

.no-bookmarks-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 100%;
  color: greenyellow;
}


.suggestions-dropDown::-webkit-scrollbar-thumb {
  background-color: greenyellow;
  border-radius: 20px;
}

.suggestions-dropDown p {
  margin: 25px 50px !important;
  text-transform: capitalize;
  cursor: pointer;
}

.suggestions-dropDown p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #mainContainer {
    margin: 0 !important;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
}

@media (max-width: 750px) {
  #searchBox {
    width: 65%;
  }

  #searchBox input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    border: 2px solid white;
    background-color: black;
    outline: none;
    color: white;
  }
}

@media (min-width: 750px) {
  #searchBox {
    width: 60%;
  }

  #searchBox input {
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 30px;
    border: 2px solid white;
    background-color: black;
    outline: none;
    color: white;
  }

}

::placeholder {
  color: white;
  font-family: monospace;
}

@media (max-width: 750px) {
  #mainHeader {
    font-size: 50px;
    font-family: monospace;
    color: white;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
  }
}

@media (min-width: 750px) {
  #mainHeader {
    font-size: 70px;
    font-family: monospace;
    color: white;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  #searchFilter {
    background-color: black;
    outline: none;
    border: none;
    font-size: 20px;
    color: purple;
    color: white;
    width: 75%;
  }
  #sortParameter {
    background-color: black;
    outline: none;
    border: none;
    font-size: 20px;
    color: purple;
    color: white;
  }
}

@media (min-width: 750px) {
  #searchFilter {
    background-color: black;
    outline: none;
    border: none;
    font-size: 20px;
    color: purple;
    color: white;
  }
  #sortParameter {
    background-color: black;
    outline: none;
    border: none;
    font-size: 20px;
    color: purple;
    color: white;  
  }
}

@media (max-width: 750px) {
  #card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (min-width: 750px) {
  #card {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.family {
  font-family: monospace;
}

@media (max-width: 750px) {
  .graph {
    width: 100%;
    margin: 0 auto;
    color: black !important;
  }
}

@media (min-width: 750px) {
  .graph {
    width: 80%;
    margin: 0 auto;
    color: black !important;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  .search-btn {
    background-color: black;
    border: 2px solid white;
    outline: none;

    padding: 10px;
    height: 50px;
  }
}

@media (min-width: 750px) {
  .search-btn {
    background-color: black;
    border: 2px solid white;
    outline: none;
    margin-right: 50px;
    padding: 10px;
    height: 70px;
  }
}

#orgName {
  font-size: 30;
  text-align: center;
  color: black;
  background-color: burlywood;
}

#selectedTimes {
  font-size: 50 !important;
}

a:not #urlLocator {
  color: white;
  text-decoration: none;
}

#footer {
  position: relative;
  width: 10000px;
  margin-top: 60vh;
  font-weight: 100;
  padding: 20px;
  background-color: black;
}

@media (max-width: 750px) {
  #animatedText {
    width: 80%;
    min-height: 20vh;
    margin: 30px 10%;
    font-size: 15px;
    text-align: center;
    color: greenyellow;
    font-weight: bold;
    display: inline-block;
  }
  .dropdown-menu {
    flex-direction: column;
    justify-content: center;
  }
  .dropdown-panel {
    width: fit-content;
  }
}

@media (min-width: 750px) {
  #animatedText {
    width: 80%;
    min-height: 34vh;
    margin: 30px 10%;
    font-size: 35px;
    text-align: center;
    color: greenyellow;
    font-weight: bold;
    display: inline-block;
  }
}

.visitUrl {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: gray;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .nav-button {
    position: relative;
    display: flex;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}