#mainContainer {
  padding-top: 15px;
  background-color: black;

  font-family: monospace;
  color: white;
  width: 100%;
}

#searchBox {
  width: 48%;
}

.suggestions-dropDown {
  text-align: left;
  position: absolute;
  background: #000000c2;
  border: 0.01px solid;
  backdrop-filter: blur(2px);
  z-index: 99;
  max-height: 70vh;
  max-width: 68vw;
  width: 500px;
  overflow-y: scroll;
}

/* 
.suggestions-dropDown::-webkit-scrollbar-track {
  color: white;
} */

.suggestions-dropDown::-webkit-scrollbar {
  width: 5px;
}

.suggestions-dropDown::-webkit-scrollbar-track {
  /* background: white; */
  /* color of the tracking area */
}

.suggestions-dropDown::-webkit-scrollbar-thumb {
  background-color: greenyellow;
  border-radius: 20px;
}

.suggestions-dropDown p {
  margin: 25px 50px !important;
  text-transform: capitalize;
  cursor: pointer;
}

.suggestions-dropDown p:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #mainContainer {
    margin: 0 !important;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
}

@media (max-width: 750px) {
  #searchBox {
    width: 65%;
  }

  #searchBox input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    border: 2px solid white;
    background-color: black;
    outline: none;
    color: white;
  }
}

@media (min-width: 750px) {
  #searchBox {
    width: 65%;
  }

  #searchBox input {
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 30px;
    border: 2px solid white;
    background-color: black;
    outline: none;
    color: white;
  }
}

::placeholder {
  color: white;
  font-family: monospace;
}

@media (max-width: 750px) {
  #mainHeader {
    font-size: 50px;
    font-family: monospace;
    color: white;
  }
}

@media (min-width: 750px) {
  #mainHeader {
    font-size: 70px;
    font-family: monospace;
    color: white;
  }
}

@media (max-width: 750px) {
  #searchFilter {
    background-color: black;
    outline: none;
    border: none;
    font-size: 20px;
    color: purple;
    color: white;
    width: 75%;
  }
}

@media (min-width: 750px) {
  #searchFilter {
    background-color: black;
    outline: none;
    border: none;
    font-size: 20px;
    color: purple;
    color: white;
  }
}

@media (max-width: 750px) {
  #card {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media (min-width: 750px) {
  #card {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.family {
  font-family: monospace;
}

@media (max-width: 750px) {
  .graph {
    width: 100%;
    margin: 0 auto;
    color: black !important;
  }
}

@media (min-width: 750px) {
  .graph {
    width: 80%;
    margin: 0 auto;
    color: black !important;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  .search-btn {
    background-color: black;
    border: 2px solid white;
    outline: none;

    padding: 10px;
    height: 50px;
  }
}

@media (min-width: 750px) {
  .search-btn {
    background-color: black;
    border: 2px solid white;
    outline: none;
    margin-right: 50px;
    padding: 10px;
    height: 70px;
  }
}

#orgName {
  font-size: 30;
  text-align: center;
  color: black;
  background-color: burlywood;
}

#selectedTimes {
  font-size: 50 !important;
}

a:not #urlLocator {
  color: white;
  text-decoration: none;
}

#footer {
  width: 10000px;
  margin-top: 70vh;
  font-weight: 100;
  padding: 20px;
  background-color: black;
}

@media (max-width: 750px) {
  #animatedText {
    width: 80%;

    margin: 30px 10%;
    font-size: 15px;
    text-align: center;
    color: greenyellow;
    font-weight: bold;
    display: inline-block;
  }
}

@media (min-width: 750px) {
  #animatedText {
    width: 80%;

    margin: 30px 10%;
    font-size: 35px;
    text-align: center;
    color: greenyellow;
    font-weight: bold;
    display: inline-block;
  }
}

.visitUrl {
  outline: none;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: gray;
}